In [38]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree
from sklearn.preprocessing import LabelEncoder

In [39]:

# Specify the path to your CSV file
csv_file_path = 'C:\\Users\\Al-Hussain Com\\Downloads\\Project\\Linear Regression\\loan_prediction\\Decision_Tree_ Dataset.csv'

# Read the CSV file into a pandas DataFrame
balance_data = pd.read_csv(csv_file_path)
target_column = 'Unnamed: 5'
# Now you can work with your DataFrame (balance_data) as needed
balance_data = balance_data.dropna()

In [40]:
print ("Dataset Lenght:: "), len(balance_data)
print ("Dataset Shape:: "), balance_data.shape

Dataset Lenght::
Dataset Shape::

(None, (1000, 6))

In [41]:
print ("Dataset:: ")
balance_data.head()

Dataset::

     1      2    3     4    sum Unnamed: 5
0  201  10018  250  3046  13515        yes
1  205  10016  395  3044  13660        yes
2  257  10129  109  3251  13746        yes
3  246  10064  324  3137  13771        yes
4  117  10115  496  3094  13822        yes

In [42]:
X = balance_data.drop(columns=[target_column])
y = balance_data[target_column]

In [43]:
label_encoder = LabelEncoder()
y_encoded = label_encoder.fit_transform(y)

In [44]:

# Assuming 'Unnamed: 5' is the target column
target_column = 'Unnamed: 5'

# Handle missing values if any
balance_data = balance_data.dropna()

# Separate features (X) and target variable (y)
X = balance_data.drop(columns=[target_column])
y = balance_data[target_column]

# Encode categorical labels
label_encoder = LabelEncoder()
y_encoded = label_encoder.fit_transform(y)

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y_encoded, test_size=0.3, random_state=100)

# Create Decision Tree classifier
clf_entropy = DecisionTreeClassifier(criterion="entropy", random_state=100, max_depth=3, min_samples_leaf=5)

# Fit the classifier
clf_entropy.fit(X_train, y_train)

# Make predictions on the test set
y_pred_en = clf_entropy.predict(X_test)
print(y_pred_en)
# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred_en)
print("Accuracy is:", accuracy_score(y_test, y_pred_en) * 100)

[1 1 0 1 0 1 0 0 0 0 0 0 1 0 0 1 1 0 1 0 0 1 0 1 1 0 0 1 0 0 0 1 1 1 1 0 0
 0 1 1 1 1 1 0 0 1 0 1 0 0 1 0 1 1 1 1 0 0 0 1 1 0 0 1 0 1 1 1 0 1 0 0 0 1
 0 1 1 0 1 0 0 0 0 1 0 1 0 0 1 0 1 1 0 1 1 0 1 1 1 1 0 0 1 0 0 1 1 1 0 1 1
 1 1 0 0 1 1 1 0 1 0 0 1 1 0 0 1 1 0 0 1 1 0 1 1 1 0 1 1 0 0 1 1 1 0 1 1 1
 1 0 1 0 0 0 0 1 0 0 0 1 0 0 1 1 0 1 0 1 0 0 1 1 0 1 0 1 1 0 0 0 0 0 1 0 0
 1 1 1 1 1 0 1 0 1 0 0 0 1 1 0 0 1 1 0 0 0 1 1 0 0 1 1 1 1 1 1 1 1 1 0 1 1
 0 0 1 0 1 1 0 0 1 0 1 1 1 1 0 0 0 0 0 1 0 1 1 0 1 1 0 0 0 1 0 0 0 0 0 0 0
 1 1 1 1 1 1 0 0 0 0 1 0 1 1 1 0 0 0 1 1 0 1 0 0 0 1 1 0 0 1 1 0 0 1 0 1 1
 0 0 1 1]
Accuracy is: 100.0